@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background: #041F31;
	font-family: 'BebasNeueRegular';
}

a{
	color: #fff;
	text-decoration: none;
}
.wrapper{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
}

.main, .thanks{
	font-size: 2em;
	position:relative;
	font-weight: 400;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    padding: 10px;
	text-align: center;
	z-index: 1000;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #FFF
	
}
.container {
	position: fixed;
	display: block;
	min-width: 480px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.content{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
	text-align: center;
}
.container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 100px;
	margin-top: -50px;
	font-size: 100px;
	width: 100%;
	text-align: center;
}

.form-wrapper {	
	position: absolute;
	text-align: center;
	color: #85373B;
	font-size: 25px;
	height: 130px;
	padding: 20px;
	bottom: 20px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	
}

.frame1, .frame2, .frame3, .frame4, .frame5, #contact-form, .main, .frame6, .frame7, .frame8 { opacity: 0; color: #FFF;}
#response{color:#B93030;font-size:20px;display:block;zoom:1;*display:inline;}

input[type="email"] {
	width: 300px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top:45px;
	font-family: 'Cookie', serif;
	font-size: 0.8em;
}
.form-wrapper input[type="email"]:focus {
	outline-color: #acdacf;
}

#submit  {
font-family: 'BebasNeueRegular';
    margin-left:5px;
   color: #fff;
   text-align: center;
    font-size: 1em;
    height: 100px;
    width: 100px;
	background: #85373b;
	border:none;
	padding:2px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#submit:hover{
	background: #0b7d77;	
	color: #fff;
}
#submit:active{ background: #37853A;}

/* For Download Nav*/
#download {display: block;height: 150px;width: 100%;position: absolute;z-index: 5000;margin-left: 1%;margin-top: 4%;min-width: 100px;}
#download ul { list-style: none}
#download li a{font-family: 'Economica', sans-serif;display:inline-block;width:5%;color:#FFF;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 3px 7px rgba(0,0,0,0.7);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 3px 7px rgba(0,0,0,0.7);-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 3px 7px rgba(0,0,0,0.7);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0 3px 7px rgba(0,0,0,0.7);background-color:#138B96;padding:1em 2em;margin-top:6px;line-height:14px;font-size:14px;display:inline-block;text-align:center;text-decoration:none}
#download li a:hover{background-color:#1DC4CA;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.2),0 1px 0 rgba(0,0,0,0);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.2),0 1px 0 rgba(0,0,0,0);-o-box-shadow:inset 0 1px 1px rgba(0,0,0,0.2),0 1px 0 rgba(0,0,0,0);box-shadow:inset 0 1px 1px rgba(0,0,0,0.2),0 1px 0 rgba(0,0,0,0)}
/* End Download Nav */

@media only screen and (max-width:480px){
html,body{font-size:13px}
.container h2{font-size: 2.5em; left:50%; margin-left: -75%;}
.container { overflow-x:auto; width: 100%}
.form-wrapper {	
	top:85%; 
	margin-top:-20%;
	left:50%; margin-left: -70%;
	position: absolute;
	text-align: center;
	color: #85373B;
	font-size: 1.2em;
	height: 25%;
	padding: 20px;
	bottom: 20px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

#submit  {
font-family: 'BebasNeueRegular';
    margin-left:5px;
   color: #fff;
   text-align: center;
    font-size: 1.2em;
    height: 80px;
    width: 80px;
	background: #85373b;
	border:none;
	padding:2px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
input[type="email"] {
	width: 25%; 
	font-size: 0.8em;
 }
 #response{font-size:1em; }
#download {display: block;height: 150px;width: 100%;}
#download li a{display:inline-block;width:15%;color:#FFF;background-color:#138B96;padding:1em 2em;margin-top:6px;line-height:0.8em;font-size:0.8em;;text-align:center;text-decoration:none}
}